@{
    ViewData["Title"] = "Home Page";
}


<form>

    <button type="button" onclick="makePayment()"> Pay </button>
</form>


@section scripts
{
    @*<script>$(document).ready(function () {
            alert("Test");
        });</script>*@

    <script>function makePayment() {
            var paymentEngine = RmPaymentEngine.init({
                key: 'b2xhbWlkZWphbWVzMDA3QGdtYWlsLmNvbXwxODQ0OTE2fDM5NmFlNTI1ZjRkN2RmNWNhMGM5Y2FhMjU1Njc2Yzc4N2QwOTUwYThmMjVlMDhiM2E2ZWM2Y2Q2NmU1OWU3M2Q0YjMzMDI0N2I1NzNmNzQzYTI2ZDExMDI2ZTBiMmYwNzFjMGE5YjdjN2Q0MGZkZmQwODQzNWU4YTc3ZjllNjRh',
                customerId: "140700251",
                firstName: "Lisa",
                lastName: "Spark",
                email: "demo@remita.net",
                narration: "Payment Description",
                amount: 150,
                transactionId: '@System.Guid.NewGuid().ToString("n")',
                onSuccess: function (response) {
                   
                    console.log('callback Successful Response', JSON.stringify(response.e));
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Validate", "Home")',
                        data: response,
                        success: null,
                        contentType: "application/json",
                        dataType: "json",
                    });
                },
                onError: function (response) {
                    console.log('callback Error Response', response);
                },
                onClose: function () {
                    console.log("closed");
                }
            });
            paymentEngine.showPaymentWidget();
        }</script>
}